.Toastify__toast-container {
  @media only screen and (max-width: 768px) {
    width: calc(100% - 2rem);
    max-width: 400px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: auto !important;
    top: 1rem !important;
    padding: 0;
  }
}

.Toastify__toast {
  @media only screen and (max-width: 768px) {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.Toastify__toast-body {
  @media only screen and (max-width: 768px) {
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.Toastify__close-button {
  @media only screen and (max-width: 768px) {
    align-self: center;
  }
}
