name: Build and Deploy Server

on:
  push:
    branches:
      - release
  paths:
    - 'server/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/web-e-commerce-server:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/web-e-commerce-server:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/web-e-commerce-server:buildcache
          cache-to: type=inline
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH to Server and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /usr/src/app/web-e-commerce-server
            podman pull docker.io/${{ secrets.DOCKER_HUB_USERNAME }}/web-e-commerce-server:latest
            podman stop web-e-commerce-server || true
            podman rm web-e-commerce-server || true
            podman run -d \
            --name web-e-commerce-server \
            --restart always \
            -p 3000:3000 \
            -m 512m \
            --memory-reservation 256m \
            --cpus 0.5 \
            -e NODE_OPTIONS="--max-old-space-size=450" \
            --env-file /home/deploy/podman/.env \
            ${{ secrets.DOCKER_HUB_USERNAME }}/web-e-commerce-server:latest
            podman image prune -f

